@import 'tailwindcss';

@font-face {
	font-family: 'dndFont';
	src: url('/fonts/DUNGRG__.TTF') format('truetype');
	font-display: swap;
}

* {
	box-sizing: border-box;
}

html {
	height: 100%;
}

html,
body {
	height: 100%;
}
body {
	margin: 0;
	padding: 0;
	font-family: Roboto, 'Helvetica Neue', sans-serif;
	background: radial-gradient(circle at top left, #181023, #0b0519);
	color: #c3b3d8;
	height: 100%;
}
